*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.container {
  width: 100%;
}

@media screen and (min-width: 575px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 765px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 990px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.bold {
  font-size: 20px;
  font-weight: 600;
}

.information-block {
  height: 300px;
  background-color: #093e52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 300;
}

@media screen and (min-width: 990px) {
  .information-block {
    height: 440px;
  }
}

.information-block__title {
  opacity: 50%;
  font-size: 18px;
  padding-bottom: 25px;
}

@media screen and (min-width: 990px) {
  .information-block__title {
    font-size: 16px;
  }
}

.information-block__text {
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 990px) {
  .information-block__text {
    font-size: 36px;
  }
}

@media screen and (min-width: 1400px) {
  .information-block__text {
    font-size: 40px;
  }
}

.information-block button {
  margin-top: 45px;
}

.underline {
  text-decoration: underline;
}

.fa-bars,
.fa-xmark {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

.fa-angle-down {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fa-angle-down--active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.fa-show {
  display: block;
}

@media screen and (min-width: 1200px) {
  .fa-show {
    display: none;
    position: absolute;
    top: 100px;
  }
}

.button {
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button--typeOne {
  width: 196px;
}

.button--typeTwo {
  width: 150px;
}

.button--typeThree {
  width: 220px;
}

.button-typeFour {
  width: 175px;
  border-radius: 25px;
  background-color: #190f14;
  color: #ffffffff;
  border: 1px solid #190f14;
  position: relative;
}

.button-typeFour:hover {
  background-color: #75787b;
  border: none;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
}

.button-transparent:hover {
  border: 2px solid #1b1b1b;
}

.button-dark {
  background-color: #190f14;
  color: #ffffff;
  border: 2px solid #190f14;
}

.button-dark:hover {
  background-color: #75787b;
  border: none;
}

.button-sand {
  background-color: #dbd3cb;
  border: 1px solid #dbd3cb;
  color: #000000;
  font-weight: 500;
}

.button-sand:hover {
  background-color: #ffffff;
}

.slider-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.slider-next-btn {
  right: 18%;
  top: 5%;
}

.slider-prev-btn {
  left: 18%;
  top: 5%;
  display: none;
}

.dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.dots-container li {
  width: 20px;
  margin: 0 5px;
}

.dots-container li button {
  width: 100%;
  font-size: 0;
  background-color: #ffffff;
  opacity: 30%;
  border: 0.5px solid #ffffff;
  cursor: pointer;
}

.dots-container .slick-active button {
  opacity: 1;
}

.full-width {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  height: 85px;
  background-color: #f5f5f5;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.hamburger {
  position: relative;
  padding-left: 30px;
}

@media screen and (min-width: 575px) {
  .hamburger {
    padding: 0;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 100;
  top: 85px;
  left: 0;
  width: 100%;
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 3px solid #1b1b1b;
  background-color: #f5f5f5;
}

.mobile-menu--hidden {
  top: -400px;
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 200px;
  text-align: center;
  font-size: 38px;
}

.mobile-menu__text {
  padding: 35px 0;
  font-size: 26px;
  position: relative;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.mobile-menu__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 30px;
  background-color: #1b1b1b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu .list__item {
  position: relative;
}

.mobile-menu .list__item::after {
  content: "";
  display: block;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  position: absolute;
  bottom: -7px;
  background-color: #1b1b1b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu .list__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.mobile-menu .list__link {
  text-decoration: none;
  display: block;
  color: #1b1b1b;
}

.desktop-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  color: #1b1b1b;
}

@media screen and (min-width: 1200px) {
  .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.desktop-menu__list {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 25px;
}

.desktop-menu__text {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.desktop-menu__text:hover {
  text-decoration: underline;
}

.desktop-menu__buttons-container {
  margin-left: 15px;
}

.desktop-menu__buttons-container .button-dark {
  margin-left: 15px;
}

.desktop-menu .list__link {
  color: #1b1b1b;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

.desktop-menu .list__link:hover {
  text-decoration: underline;
}

.introduction-section {
  height: 85vh;
  background-image: url("../assets/cupraBackground.png");
  background-position: 85% 100%;
  background-size: cover;
}

.introduction-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 990px) {
  .introduction-section__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.introduction-section__cart {
  width: 100%;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 765px) {
  .introduction-section__cart {
    width: 80%;
  }
}

@media screen and (min-width: 990px) {
  .introduction-section__cart {
    width: 70%;
    text-align: left;
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 1400px) {
  .introduction-section__cart {
    width: 55%;
  }
}

.introduction-section__title {
  font-size: 20px;
  opacity: 50%;
  padding: 10px 0;
}

.introduction-section__content {
  font-size: 35px;
  line-height: 120%;
}

@media screen and (min-width: 765px) {
  .introduction-section__content {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .introduction-section__content {
    font-size: 55px;
  }
}

.introduction-section button {
  margin: 50px 0 70px 0;
}

.try-section {
  min-height: 100vh;
  background-color: #1b1b1b;
}

.try-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 990px) {
  .try-section__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.try-section .description {
  width: 100%;
  min-height: 20%;
  color: #ffffff;
  text-align: center;
  margin: 50px 0;
  font-weight: 300;
}

@media screen and (min-width: 765px) {
  .try-section .description {
    width: 80%;
  }
}

@media screen and (min-width: 990px) {
  .try-section .description {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .try-section .description {
    margin: 90px 0 75px 0;
    width: 40%;
    text-align: left;
  }
}

.try-section .description__title {
  text-transform: uppercase;
  font-size: 35px;
  padding: 20px 0;
}

@media screen and (min-width: 765px) {
  .try-section .description__title {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .try-section .description__title {
    font-size: 60px;
  }
}

.try-section .description__text {
  opacity: 50%;
  line-height: 120%;
  font-size: 16px;
}

@media screen and (min-width: 990px) {
  .try-section .description__text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .try-section .description__text {
    font-size: 20px;
  }
}

.try-section .img-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 30%;
  color: #ffffff;
}

@media screen and (min-width: 990px) {
  .try-section .img-cart {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    margin-top: 80px;
  }
}

.try-section .img-cart__img {
  width: 80%;
  height: 80%;
}

@media screen and (min-width: 990px) {
  .try-section .img-cart__img {
    width: 100%;
    height: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.try-section .img-cart__img--height {
  height: 85%;
}

.try-section .img-cart__text {
  opacity: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  padding: 30px 0;
  font-size: 18px;
}

@media screen and (min-width: 990px) {
  .try-section .img-cart__text {
    font-size: 16px;
    text-align: left;
    width: 100%;
    padding: 20px 0;
  }
}

@media screen and (min-width: 990px) {
  .try-section .img-cart--bigger {
    -ms-flex-preferred-size: 59%;
        flex-basis: 59%;
    margin-top: 0;
  }
}

.try-section .information {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}

@media screen and (min-width: 765px) {
  .try-section .information {
    width: 80%;
  }
}

@media screen and (min-width: 990px) {
  .try-section .information {
    width: 60%;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .try-section .information {
    margin-top: 90px;
    min-height: 10%;
    width: 40%;
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
}

.try-section .information__title {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 28px;
}

@media screen and (min-width: 765px) {
  .try-section .information__title {
    font-size: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .try-section .information__title {
    font-size: 40px;
  }
}

.try-section .information__text {
  opacity: 50%;
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 120%;
}

.try-section .information button {
  margin: 10px 0 20px 0;
}

.carousel-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  background-color: #f5f5f5;
  position: relative;
}

.carousel-section .car {
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carousel-section .car__name {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 90px 0;
}

@media screen and (min-width: 990px) {
  .carousel-section .car__name {
    font-size: 48px;
  }
}

.carousel-section .car__img {
  width: 45%;
}

.carousel-section .car__information {
  padding: 45px;
  font-size: 14px;
  text-align: center;
  font-size: 18px;
}

@media screen and (min-width: 990px) {
  .carousel-section .car__information {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-section .car__information {
    font-size: 14px;
  }
}

.carousel-section .car .leasing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}

@media screen and (min-width: 990px) {
  .carousel-section .car .leasing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
}

@media screen and (min-width: 990px) {
  .carousel-section .car .leasing {
    font-size: 18px;
  }
}

.carousel-section .car .leasing__info {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.carousel-section .car .leasing__installment {
  padding: 10px 0;
}

.carousel-section button {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  padding: 15px;
}

.carousel-section .button-container {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 38%;
  z-index: 1000;
  cursor: pointer;
}

.carousel-section .button-container--left {
  left: 5%;
}

@media screen and (min-width: 575px) {
  .carousel-section .button-container--left {
    left: 8%;
  }
}

@media screen and (min-width: 990px) {
  .carousel-section .button-container--left {
    left: 22%;
  }
}

.carousel-section .button-container--right {
  right: 5%;
}

@media screen and (min-width: 575px) {
  .carousel-section .button-container--right {
    right: 8%;
  }
}

@media screen and (min-width: 990px) {
  .carousel-section .button-container--right {
    right: 22%;
  }
}

.carousel-section .button-container i {
  font-size: 20px;
}

.advantages-section {
  min-height: 70vh;
  background-color: #1b1b1b;
}

.advantages-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-section__image {
  margin: 90px 0;
  height: 30vh;
  width: 105%;
  background-image: url("../assets/formentorBackground.png");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

@media screen and (min-width: 765px) {
  .advantages-section__image {
    height: 50vh;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section__image {
    height: 70vh;
    border-radius: 0;
  }
}

.advantages-section .image__title {
  font-size: 20px;
  color: #ffffff;
  padding: 20px 10px;
  font-weight: 300;
}

@media screen and (min-width: 575px) {
  .advantages-section .image__title {
    font-size: 28px;
  }
}

@media screen and (min-width: 765px) {
  .advantages-section .image__title {
    font-size: 40px;
    padding: 40px 20px;
  }
}

@media screen and (min-width: 1400px) {
  .advantages-section .image__title {
    font-size: 60px;
  }
}

.advantages-section__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 90px;
}

@media screen and (min-width: 990px) {
  .advantages-section__information {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section__information {
    width: 100%;
  }
}

.advantages-section .information__title {
  font-size: 30px;
}

@media screen and (min-width: 575px) {
  .advantages-section .information__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 990px) {
  .advantages-section .information__title {
    font-size: 45px;
  }
}

@media screen and (min-width: 1400px) {
  .advantages-section .information__title {
    font-size: 60px;
  }
}

@media screen and (min-width: 990px) {
  .advantages-section .information {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.advantages-section .information__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  width: 100%;
}

@media screen and (min-width: 765px) {
  .advantages-section .information__buttons-container {
    width: 50%;
    margin: 20px 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.advantages-section .information__buttons-container .button-transparent {
  color: #ffffff;
  border: #ffffff solid 1px;
  margin-right: 20px;
  z-index: 5;
}

.advantages-section .information__buttons-container .button-transparent:hover {
  border: 2px solid #ffffff;
}

.advantages-section .information__text {
  opacity: 50%;
  font-size: 18px;
  line-height: 120%;
}

@media screen and (min-width: 765px) {
  .advantages-section .information__text {
    width: 75%;
  }
}

@media screen and (min-width: 990px) {
  .advantages-section .information__text {
    text-align: left;
    font-size: 20px;
    padding: 10px 0;
    width: 60%;
  }
}

@media screen and (min-width: 990px) {
  .advantages-section .information__text {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section .information__text {
    width: 45%;
  }
}

.slider {
  min-height: 75vh;
  background-color: #1b1b1b;
  position: relative;
}

.slider .cart {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 990px) {
  .slider .cart {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 30px;
    text-align: left;
  }
}

.slider .cart__img {
  width: 80%;
  height: 100%;
}

@media screen and (min-width: 765px) {
  .slider .cart__img {
    width: 90%;
  }
}

@media screen and (min-width: 990px) {
  .slider .cart__img {
    width: 100%;
  }
}

.slider .cart__title {
  padding: 20px 0 10px 0;
  width: 100%;
  font-size: 20px;
}

.slider .cart__text {
  width: 90%;
  opacity: 50%;
  line-height: 25px;
}

@media screen and (min-width: 990px) {
  .slider .cart__text {
    width: 100%;
    font-size: 15px;
  }
}

.images-section {
  min-height: 200vh;
}

.images-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

.images-section .cart {
  width: 100%;
  min-height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}

@media screen and (min-width: 765px) {
  .images-section .cart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .images-section .cart {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 120px;
  }
}

.images-section .cart__img {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70%;
  position: relative;
}

@media screen and (min-width: 765px) {
  .images-section .cart__img {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .images-section .cart__img {
    height: 80%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.images-section .cart__img .img-slider__img {
  width: 100%;
  height: 100%;
  display: none;
}

.images-section .cart__img .active {
  display: block;
}

.images-section .cart__img button {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  opacity: 60%;
  border: 1px solid #ffffff;
  color: #000000;
  position: absolute;
  font-size: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images-section .cart__img .next-btn {
  right: 3%;
}

@media screen and (min-width: 1200px) {
  .images-section .cart__img .next-btn {
    right: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .images-section .cart__img .next-btn--left {
    right: 3%;
  }
}

.images-section .cart__img .prev-btn {
  left: 3%;
}

@media screen and (min-width: 1200px) {
  .images-section .cart__img .prev-btn--left {
    left: 15%;
  }
}

.images-section .cart__text-container {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  min-height: 25%;
  background-color: white;
  -webkit-transform: translate(0, -70px);
          transform: translate(0, -70px);
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  .images-section .cart__text-container {
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
    height: 330px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.images-section .cart__text-container--left {
  -webkit-transform: translate(0, 70px);
          transform: translate(0, 70px);
  display: none;
}

@media screen and (min-width: 1200px) {
  .images-section .cart__text-container--left {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .images-section .cart__text-container--mobile {
    display: none;
  }
}

.images-section .cart .content {
  font-weight: 300;
}

.images-section .cart .content__title {
  padding: 20px 20px 10px 20px;
  font-size: 18px;
  opacity: 50%;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .images-section .cart .content__title {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1400px) {
  .images-section .cart .content__title {
    padding: 0px 100px;
    font-size: 16px;
  }
}

.images-section .cart .content__title--left {
  padding: 0;
}

.images-section .cart .content__text {
  padding: 10px 20px;
  font-size: 26px;
  width: 90%;
  line-height: 120%;
}

@media screen and (min-width: 1200px) {
  .images-section .cart .content__text {
    font-size: 30px;
    padding: 20px 50px;
  }
}

@media screen and (min-width: 1400px) {
  .images-section .cart .content__text {
    font-size: 36px;
    width: 100%;
    padding: 20px 100px;
  }
}

@media screen and (min-width: 1400px) {
  .images-section .cart .content__text--sm-padding {
    padding: 20px 0 20px 100px;
  }
}

.images-section .cart .content__text--left {
  padding: 20px 0;
  width: 100%;
  padding-right: 100px;
}

.images-section .cart .content .button {
  margin: 10px 20px;
}

@media screen and (min-width: 1200px) {
  .images-section .cart .content .button {
    margin: 30px 50px;
  }
}

@media screen and (min-width: 1400px) {
  .images-section .cart .content .button {
    margin: 30px 100px;
  }
}

.images-section .cart .content .button--left {
  margin: 30px 0;
}

.images-section .information-block {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  margin: 100px 0;
}

.testDrive-section {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.testDrive-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testDrive-section .dropdown {
  width: 95%;
  height: 145px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 765px) {
  .testDrive-section .dropdown {
    width: 75%;
  }
}

@media screen and (min-width: 990px) {
  .testDrive-section .dropdown {
    width: 55%;
  }
}

@media screen and (min-width: 1400px) {
  .testDrive-section .dropdown {
    width: 45%;
  }
}

.testDrive-section .dropdown__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testDrive-section .dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  height: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  font-size: 0;
}

.testDrive-section .dropdown .item {
  width: 90%;
}

.testDrive-section .dropdown .item__img {
  width: 60%;
  height: 70%;
}

@media screen and (min-width: 575px) {
  .testDrive-section .dropdown .item__img {
    height: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .testDrive-section .dropdown .item__img {
    width: 55%;
  }
}

.testDrive-section .dropdown .item p {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  font-weight: 600;
}

.testDrive-section .dropdown .item--selected {
  height: 100%;
  border: 1px solid #d5d5d5;
  font-size: 16px;
}

.testDrive-section .dropdown .item--active {
  height: 100%;
  border: 1px solid #d5d5d5;
  font-size: 16px;
  border-bottom: none;
}

.testDrive-section .dropdown .item--border-bottom {
  border-bottom: 1px solid #d5d5d5;
}

.testDrive-section .title {
  margin: 100px 0 60px 0;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testDrive-section .title__title {
  color: #000000;
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .testDrive-section .title__title {
    font-size: 16px;
  }
}

.testDrive-section .title__content {
  font-size: 40px;
  font-weight: 400;
  line-height: 3rem;
}

@media screen and (min-width: 1200px) {
  .testDrive-section .title__content {
    font-size: 36px;
    width: 30%;
  }
}

.testDrive-section .form {
  margin-top: 30px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
  color: black;
}

@media screen and (min-width: 765px) {
  .testDrive-section .form {
    width: 75%;
  }
}

@media screen and (min-width: 990px) {
  .testDrive-section .form {
    width: 55%;
  }
}

@media screen and (min-width: 1400px) {
  .testDrive-section .form {
    width: 45%;
  }
}

.testDrive-section .form__input-text {
  border: none;
  border-bottom: 1px solid #d5d5d5;
  background-color: transparent;
  font-size: 16px;
  padding: 12px 12px;
  width: 90%;
  font-weight: 500;
  margin-bottom: 30px;
}

.testDrive-section .form__input-text::-webkit-input-placeholder {
  color: #000000;
}

.testDrive-section .form__input-text:-ms-input-placeholder {
  color: #000000;
}

.testDrive-section .form__input-text::-ms-input-placeholder {
  color: #000000;
}

.testDrive-section .form__input-text::placeholder {
  color: #000000;
}

@media screen and (min-width: 575px) {
  .testDrive-section .form__input-text {
    padding: 12px 0;
  }
}

.testDrive-section .form__information {
  font-size: 13px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 21px;
}

.testDrive-section .form__information--opacity {
  font-weight: 300;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.testDrive-section .form__information a {
  color: #000000;
}

.testDrive-section .form__checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.testDrive-section .form__checkbox-container input {
  margin-right: 10px;
}

.testDrive-section .form__checkbox-container label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.offer-section {
  min-height: 100vh;
}

.offer-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-section .title {
  margin: 50px 0 50px 0;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
}

@media screen and (min-width: 990px) {
  .offer-section .title {
    margin: 100px 0 60px 0;
  }
}

.offer-section .title__title {
  font-size: 18px;
  padding-bottom: 10px;
}

@media screen and (min-width: 575px) {
  .offer-section .title__title {
    font-size: 16px;
  }
}

.offer-section .title__content {
  font-size: 30px;
  width: 90%;
  line-height: 3rem;
}

@media screen and (min-width: 575px) {
  .offer-section .title__content {
    width: 70%;
    text-align: center;
    font-size: 34px;
  }
}

@media screen and (min-width: 990px) {
  .offer-section .title__content {
    font-size: 36px;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .offer-section .title__content {
    width: 40%;
  }
}

.offer-section .cart-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 765px) {
  .offer-section .cart-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .offer-section .cart-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.offer-section .cart-container .cart {
  height: 600px;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 765px) {
  .offer-section .cart-container .cart {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media screen and (min-width: 990px) {
  .offer-section .cart-container .cart {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .offer-section .cart-container .cart {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    margin: 0 7px;
  }
}

@media screen and (min-width: 1200px) {
  .offer-section .cart-container .cart--bigger-margin-top {
    margin-top: 45px;
  }
}

.offer-section .cart-container .cart__img {
  width: 100%;
  height: 42%;
}

@media screen and (min-width: 765px) {
  .offer-section .cart-container .cart__img {
    height: 35%;
  }
}

@media screen and (min-width: 1200px) {
  .offer-section .cart-container .cart__img {
    height: 40%;
  }
}

.offer-section .cart-container .cart__img img {
  width: 100%;
  height: 100%;
}

.offer-section .cart-container .cart .content {
  width: 90%;
  height: 33%;
  background-color: #ffffff;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  margin-bottom: 40px;
  font-weight: 300;
}

@media screen and (min-width: 765px) {
  .offer-section .cart-container .cart .content--bigger-margin {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 990px) {
  .offer-section .cart-container .cart .content--bigger-margin {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .offer-section .cart-container .cart .content--bigger-margin-top {
    margin-top: 45px;
  }
}

.offer-section .cart-container .cart .content__title {
  padding: 40px 24px 20px 24px;
  font-size: 2rem;
}

.offer-section .cart-container .cart .content__text {
  padding: 0 24px;
  line-height: 28px;
}

@media screen and (min-width: 575px) {
  .offer-section .cart-container .cart .content__text {
    width: 80%;
  }
}

@media screen and (min-width: 765px) {
  .offer-section .cart-container .cart .content__text {
    width: 100%;
  }
}

.offer-section .cart-container .cart__button-container {
  margin: 0 24px;
  position: relative;
  width: 80%;
}

.offer-section .cart-container .cart__button-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #75787b;
  top: -40px;
}

.offer-section .cart-container .cart__button-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #75787b;
  bottom: -40px;
  left: 0;
}

.offer-section__information {
  font-size: 14px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin: 60px 0 100px 0;
}

.offer-section .information-block {
  position: relative;
  background-image: url("../assets/offer/offerbackground.png");
  background-position: center;
  background-size: cover;
  z-index: -2;
  width: 85%;
}

.offer-section .information-block .black-bg {
  background-color: black;
  z-index: -1;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.findus-section {
  min-height: 80vh;
}

.findus-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findus-section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 100px 0 60px 0;
  font-weight: 300;
}

.findus-section .title__title {
  padding-bottom: 10px;
}

.findus-section .title__content {
  font-size: 30px;
  width: 90%;
  line-height: 40px;
}

@media screen and (min-width: 765px) {
  .findus-section .title__content {
    width: 60%;
  }
}

@media screen and (min-width: 990px) {
  .findus-section .title__content {
    font-size: 2rem;
    width: 55%;
  }
}

.findus-section .carts-container {
  width: 100%;
  min-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 990px) {
  .findus-section .carts-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.findus-section .cart {
  width: 90%;
  min-height: 430px;
  background-color: white;
}

@media screen and (min-width: 990px) {
  .findus-section .cart {
    width: 49%;
  }
}

.findus-section .cart__map {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 990px) {
  .findus-section .cart__map {
    height: 430px;
  }
}

.findus-section .cart .list {
  width: 80%;
  background-color: white;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

@media screen and (min-width: 765px) {
  .findus-section .cart .list {
    width: 60%;
  }
}

.findus-section .cart .list__item {
  padding-left: 32px;
  line-height: 26px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.findus-section .cart .list__item--first {
  padding: 32px 0 0 32px;
  font-weight: 500;
}

.findus-section .cart .list__item--blue {
  color: #007bff;
}

.findus-section .cart .list__item--blue:hover {
  text-decoration: underline;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.findus-section .cart .list__item button {
  margin-top: 2rem;
}

.footer {
  min-height: 12vh;
  margin-top: 50px;
  border-top: 1px solid #d5d5d5;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 990px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__copyRight {
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
}

@media screen and (min-width: 990px) {
  .footer__copyRight {
    margin: 0;
    font-size: 14px;
  }
}

.footer .links {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (min-width: 990px) {
  .footer .links {
    margin: 0;
    font-size: 14px;
  }
}

.footer .links__link {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .links__link:hover {
  text-decoration: underline;
}

.footer .links__break {
  height: 14px;
  display: block;
  width: 1px;
  margin: 0 16px;
  background-color: #dbdbdb;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 990px) {
  .footer .social {
    margin: 0;
    width: auto;
  }
}

.footer .social__item--first {
  margin-right: 50px;
}

@media screen and (min-width: 990px) {
  .footer .social__item--first {
    margin-right: 24px;
  }
}

.footer .social__item--second {
  margin-left: 70px;
}

@media screen and (min-width: 990px) {
  .footer .social__item--second {
    margin: 0;
  }
}

main {
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */