.button {
  cursor: pointer;
  height: 50px;
  font-size: $base-font-size;
  font-weight: 500;
  transition: 0.3s;
}
.button--typeOne {
  width: 196px;
}

.button--typeTwo {
  width: 150px;
}

.button--typeThree {
  width: 220px;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid $base-dark-color;
  color: $base-dark-color;

  &:hover {
    border: 2px solid $base-dark-color;
  }
}

.button-dark {
  background-color: $button-dark-color;
  color: #ffffff;
  border: 2px solid $button-dark-color;

  &:hover {
    background-color: #75787b;
    border: none;
  }
}

.button-sand {
  background-color: $sand-color;
  border: 1px solid $sand-color;
  color: $secondary-dark-color;
  font-weight: 500;

  &:hover {
    background-color: #ffffff;
  }
}

.slider-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.slider-next-btn {
  right: 18%;
  top: 5%;
}

.slider-prev-btn {
  left: 18%;
  top: 5%;
  display: none;
}

.dots-container {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);

  li {
    width: 20px;
    margin: 0 5px;

    button {
      // height: 0.1px;
      width: 100%;
      font-size: 0;
      background-color: #ffffff;
      opacity: 30%;
      border: 0.5px solid #ffffff;
      cursor: pointer;
    }
  }

  .slick-active {
    button {
      opacity: 1;
    }
  }
}
