.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: $base-bright-color;
  position: relative;

  &__btn {
    position: absolute;
    top: 38%;
    // transform: translateY(-50%);
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
  }

  &__prevBtn {
    left: 2%;

    @media screen and (min-width: map-get($brake-points, large)) {
      left: 10%;
    }

    @media screen and (min-width: map-get($brake-points, x-large)) {
      left: 20%;
    }
  }
  &__nextBtn {
    right: 2%;

    @media screen and (min-width: map-get($brake-points, large)) {
      right: 10%;
    }

    @media screen and (min-width: map-get($brake-points, x-large)) {
      right: 20%;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
  }

  .car {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;

    @media screen and (min-width: map-get($brake-points, large)) {
      width: 70vw;
    }

    @media screen and (min-width: map-get($brake-points, x-large)) {
      width: 55vw;
    }

    &__information {
      padding: 45px;
      font-size: 14px;
      text-align: center;
      font-size: $seconadry-font-size;

      @media screen and (min-width: map-get($brake-points, large)) {
        font-size: $base-font-size;
      }

      @media screen and (min-width: map-get($brake-points, x-large)) {
        font-size: 14px;
      }
    }

    &__name {
      width: 100%;
      font-size: 36px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 60px;

      @media screen and (min-width: map-get($brake-points, large)) {
        font-size: 48px;
      }
    }

    .leasing {
      display: flex;
      flex-direction: column;
      width: 60%;
      font-size: $seconadry-font-size;
      text-align: center;
      line-height: 20px;

      @media screen and (min-width: map-get($brake-points, large)) {
        font-size: $seconadry-font-size;
      }

      @media screen and (min-width: map-get($brake-points, x-large)) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 14px;
      }

      &__info {
        flex-basis: 28%;
      }

      &__installment {
        padding: 10px 0;
      }
    }

    &__img {
      width: 100%;

      @media screen and (min-width: map-get($brake-points, x-large)) {
        width: 80%;
      }

      @media screen and (min-width: map-get($brake-points, x-large)) {
        width: 70%;
      }
    }

    .button {
      margin-top: 45px;
    }
  }
}
