.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  height: 85px;
  background-color: $base-bright-color;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    background-color: $base-bright-color;
    align-items: center;
  }

  &__logo {
    flex-basis: 150px;
  }
}

.hamburger {
  position: relative;
  padding-left: 30px;

  @media screen and (min-width: map-get($brake-points, small)) {
    padding: 0;
  }
}
