.introduction-section {
  height: 85vh;
  background-image: url("../assets/cupraBackground.png");
  background-position: 85% 100%;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;

    @media screen and (min-width: map-get($brake-points, large)) {
      align-items: flex-end;
      justify-content: flex-start;
    }
  }

  &__cart {
    width: 100%;
    font-weight: 300;
    text-align: center;

    @media screen and (min-width: map-get($brake-points, medium)) {
      width: 80%;
    }
    @media screen and (min-width: map-get($brake-points, large)) {
      width: 70%;
      text-align: left;
      margin-bottom: 4%;
    }
    @media screen and (min-width: map-get($brake-points, xx-large)) {
      width: 55%;
    }
  }

  &__title {
    font-size: 20px;
    opacity: 50%;
    padding: 10px 0;
  }

  &__content {
    font-size: 35px;
    line-height: 120%;

    @media screen and (min-width: map-get($brake-points, medium)) {
      font-size: 45px;
    }
    @media screen and (min-width: map-get($brake-points, x-large)) {
      font-size: 55px;
    }
  }

  button {
    margin: 50px 0 70px 0;
  }
}
