.testDrive-section {
  min-height: 100vh;
  background-color: $base-bright-color;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .dropdown {
    width: 95%;
    height: 145px;
    transition: 0.3s;

    @media screen and (min-width: map-get($brake-points, medium)) {
      width: 75%;
    }

    @media screen and (min-width: map-get($brake-points, large)) {
      width: 55%;
    }

    @media screen and (min-width: map-get($brake-points, xx-large)) {
      width: 45%;
    }

    &__list {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      border: 1px solid #d5d5d5;
      height: 0px;
      transition: 0.3s;
      border: none;
      font-size: 0;
    }

    .item {
      width: 90%;

      &__img {
        width: 60%;
        height: 70%;

        @media screen and (min-width: map-get($brake-points, small)) {
          height: 90%;
        }

        @media screen and (min-width: map-get($brake-points, x-large)) {
          width: 55%;
        }
      }

      p {
        flex-basis: 35%;
        font-weight: 600;
      }

      &--selected {
        height: 100%;
        border: 1px solid #d5d5d5;
        font-size: $base-font-size;
      }

      &--active {
        height: 100%;
        border: 1px solid #d5d5d5;
        font-size: $base-font-size;
        border-bottom: none;
      }

      &--border-bottom {
        border-bottom: 1px solid #d5d5d5;
      }
    }
  }

  .title {
    margin: 100px 0 60px 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      color: #000000;
      font-weight: 300;
      font-size: 25px;
      padding-bottom: 20px;

      @media screen and (min-width: map-get($brake-points, x-large)) {
        font-size: 16px;
      }
    }

    &__content {
      font-size: 40px;
      font-weight: 400;
      line-height: 3rem;

      @media screen and (min-width: map-get($brake-points, x-large)) {
        font-size: 36px;
        width: 30%;
      }
    }
  }

  .form {
    margin-top: 30px;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    color: black;

    @media screen and (min-width: map-get($brake-points, medium)) {
      width: 75%;
    }

    @media screen and (min-width: map-get($brake-points, large)) {
      width: 55%;
    }

    @media screen and (min-width: map-get($brake-points, xx-large)) {
      width: 45%;
    }

    &__input-text {
      border: none;
      border-bottom: 1px solid #d5d5d5;
      background-color: transparent;
      font-size: 16px;
      padding: 12px 12px;
      width: 90%;
      font-weight: 500;
      margin-bottom: 30px;

      &::placeholder {
        color: #000000;
      }

      @media screen and (min-width: map-get($brake-points, small)) {
        padding: 12px 0;
      }
    }

    &__information {
      font-size: 13px;
      margin-bottom: 30px;
      font-weight: 400;
      line-height: 21px;

      &--opacity {
        font-weight: 300;
        flex-basis: 90%;
      }

      a {
        color: #000000;
      }
    }

    &__checkbox-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      input {
        margin-right: 10px;
        border: 1px solid #d5d5d5;
      }

      label {
        flex-grow: 1;
      }
    }
  }
}
