$main-font: "Open Sans", sans-serif;

$base-dark-font-color: #242221;

$base-dark-color: #1b1b1b;
$base-bright-color: #f5f5f5;

$button-dark-color: #190f14;

$secondary-dark-color: #000000;

$sand-color: #dbd3cb;

$base-font-size: 16px;
$seconadry-font-size: 18px;

$base-line-height: 30px;

$brake-points: (
  small: 575px,
  medium: 765px,
  large: 990px,
  x-large: 1200px,
  xx-large: 1400px,
);
